body {
  background: linear-gradient(-50deg, orange 30%, cyan 100%);
}

.root {
  min-height: 100vh;
}

.fs-75px {
  font-size: 75px;
}

.search-results-container {
  overflow: scroll;
  position: absolute;
  left: 0px;
  right: 0px;
  max-height: 25vh;
}

.search-results-item {
  max-height: 10%;
}

.search-results-item:hover {
  cursor: pointer;
  background-color: lightgray;
}

.search-results-item p {
  font-size: 10px;
}
