html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: auto;
  margin: 0 auto;
  background: linear-gradient(-50deg, orange 30%, cyan 100%);
}

input {
  width: min-content;
  height: fit-content;
  border-radius: 10px;
  font-size: 10%;
  padding: 10px;
  border: none;
}

.megaseeker-logo {
  font-size: 75px;
}

.megaseeker-logo span {
  border-radius: 10px;
}

.m {
  color: blue;
}

.e {
  color: green;
}

.g {
  color: orange;
}

.a {
  color: red;
}

.s {
  color: purple;
}

.k {
  color: teal;
}

.r {
  color: darkgreen;
}

/*
 * ADDED
 */
input {
  border: 0 none;
}

#searchQuery.loading {
  background: url(http://www.xiconeditor.com/image/icons/loading.gif) no-repeat right center;
}

.search-container {
  width: 400px;
  position: relative;
  margin: 15px auto;
}

.search-container input,
.search-container .suggestions {
  width: 100%;
  background: #fff;
  text-align: left;
}

.search-container input {
  background: rgba(255, 255, 255, 0.2);
  height: 60px;
  padding: 0 10px;
}

.search-container .suggestions {
  position: absolute;
  top: 60px;
}

ul {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
}

ul.has-suggestions {
  display: block;
}

ul li {
  padding: 10px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

ul li:hover {
  background-color: #e65c00;
}

input {
  border-bottom: 2px solid #e65c00;
}