html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }  
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: auto; 
    margin: 0 auto;
    background: linear-gradient(-50deg, orange 30%, cyan 100%);
    }
   input
  {
    width: min-content;
    height: fit-content;
    border-radius: 10px;
    font-size: 10%; 
    padding: 10px;
    border: none;
  }
  .megaseeker-logo {
    font-size: 75px; 
  }
  
  .megaseeker-logo span {
    display: inline-block;
    border-radius: 10px; 
  }

  .m {
    color:blue;
  }
  .e 
  {
    color:green;
  } 
  .g {
    color:orange;
  }
  .a {
    color:red;
  }
  .s {
    color:purple;
  }
  .k {
    color: teal;
  }
  .r 
  {
    color: darkgreen;
  }
